# Cloudflare Pages / Client Configuration
# If not specified, substarr uses firebase-applet-config.json by default.
VITE_FIREBASE_PROJECT_ID="gen-lang-client-0873104716"
VITE_FIREBASE_APP_ID="1:1532087800:web:40ab8678d59107abc0da0d"
VITE_FIREBASE_API_KEY="AIzaSyBtAhcFAu-5u3__15a68DcWZ0bf3sXsRQ4"
VITE_FIREBASE_AUTH_DOMAIN="gen-lang-client-0873104716.firebaseapp.com"
VITE_FIREBASE_OAUTH_CLIENT_ID="1532087800-51re9cgm76u2ojqn1fe3tqlai9vqlorg.apps.googleusercontent.com"

# Optional YouTube Data API v3 Key for public feed lookups
VITE_YOUTUBE_API_KEY=""

# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

